@import 'tailwindcss';
@import '@nuxt/ui';

@source "../../../content/**/*";

@theme {
  --font-sans: 'Public Sans', sans-serif;
}

:root {
  --vis-axis-grid-color: var(--ui-border) !important;
  --vis-axis-tick-label-color: var(--ui-text-muted) !important;
  --vis-axis-label-color: var(--ui-text-toned) !important;
  --vis-legend-label-color: var(--ui-text-toned) !important;

  --vis-tooltip-padding: 0 !important;
  --vis-tooltip-background-color: var(--ui-bg) !important;
  --vis-tooltip-border-color: var(--ui-border) !important;
  --vis-tooltip-text-color: var(--ui-text-toned) !important;
}
